.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 46rem;
  margin: 0 auto;

  margin-top: -1.7rem;
}

.inputContainer {
  width: 100%;
  display: flex;
}

.inputContainer > input {
  flex: 1;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  padding: 1rem;
  border-radius: 8px;
  color: var(--white);
}

.inputContainer > button {
  margin-left: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: var(--blue-700);
  color: var(--gray-100);
  font-weight: 700;
  padding: 1rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transition: background-color 0.2s, color 0.2s;
}

.inputContainer > button:not(:disabled):hover {
  background: var(--blue-300);
  color: var(--gray-400);
}

.inputContainer > button:disabled {
  cursor: not-allowed;
}