.todoList {
  max-width: 46rem;
  margin: 0 auto;

  margin-top: 4rem;
}

.todoList > header {
  display: flex;
  justify-content: space-between;
}

.todoList > header p {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.todoList > header span {
  background: var(--gray-400);
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: var(--gray-200);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}

.createdTasksTitle {
  color: var(--blue-300);
}

.completedTasks {
  color: var(--purple-300);
}

.emptyList {
  margin-top: 1.5rem;
  border-radius: 8px;
  border-top: 2px solid var(--gray-400);

  text-align: center;
  padding: 4rem 0;

  color: var(--gray-300);
}

.emptyList p {
  font-weight: 700;
}

.emptyList p span {
  font-weight: 400;
}